body{
    background-color:#FAFAFA;
}

.login{
}

.hide{
    display: none;
}

.feeds{
    margin-top:30px;
}

.feeds .box{
    background-color:#fff;
    border:1px solid #e6e6e6;
    padding:15px;
    margin-bottom:10px;
}

.profile .col-3{
    padding:0px !important;
    margin:0px;
}

.profile .col-9{
    word-wrap: break-word;
}

.avatar-col{
    padding-right:0px;
}

.avatar-me{
    width:40px !important;
}

.avatar{
    width:40px !important;
}

.feeds-list .username{
    font-size:12pt;
}

.feeds-list .username a{
    color:#1b1f23;
}

.feeds-list .posted-date{
    font-size:9pt;
    margin-top:-2px;
}

.post-form .avatar-me{
    position:absolute;
    margin-left:10px;
    margin-top:5px;
    width:30px !important;
}

.post-form .post-text{
    height:100px;
    padding-left:50px;
}

.profile .logout{
    font-size:10pt;
}

.profile .name{
    word-wrap: break-word;
    font-size:11pt;
}

.profile .email{
    font-size:10pt;
    color:#B2B2B2;
}

.user-profile .name{
    word-wrap: break-word;
    font-size:14pt;
}

.user-profile .email{
    font-size:12pt;
    color:#696969;
}

.form-control{
    border-radius:0px;
    height:50px;
}

.btn{
    border-radius: 0px;
}

.full{
    width:100%;
}

.other-login{
    padding:20px;
    display: flex;
    align-items: center; /* align vertical */
}

.signup-form{
    padding:40px;
}

.error{
    font-size:10pt;
    color:Red;
    font-style: italic;
}

.other-login .box{
    margin-bottom:20px;
}

.other-login .box .btn{
    width:100%;
    height:40px;
}

.form-login{
    padding:20px;
    border-right:1px solid #e6e6e6;
}

.login{
    height:100vh;
    display: flex;
    align-items: center; /* align vertical */
}

.header{
    margin-bottom:20px;
}

.header .title{
    font-size:16pt;
}

.header .subtitle{
    font-size:10pt;
}

.btn-black{
    background-color:#24292e;
    color:#fff;
}

.btn-black:hover, .btn-black:active{
    background-color: #1b1f23;
    color:#fff;
}

.total-users .count{
    font-size:14pt;
}

.help{
    font-size:10pt;
    color:#696969;
    font-style:italic;
}

.total-users .label{
    font-weight: bold;
}

.feeds .content{
    margin-top:80px;
}

.footer .text{
    font-size:10pt;
    color:#696969;
    margin-top:10px;
}

.footer .logo{
    font-weight:bold;
    color:#17a2b8;
    font-size:12pt !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }